/* колір заголовку "background: #212121;
" */
/* колір основного тексту, та номеру тел. і пошти в хедер "background: #757575;
" */
/* колір фокусу background: #2196F3;
 */
/* білий background: #FFFFFF; */

/* коліру в футері тел, пошта rgba(255, 255, 255, 0.6) */
:root {
  --text-title: #000000;
  --text-accent-hf: #2196f3;
  --primery-text-color: #757575;
  --text-white: #fff;
  --color-bcg: #2f303a;
  --mail-tel-footer: rgba(255, 255, 255, 0.6);
  --button-filter: #f5f4fa;
}
body {
  background-color: var(--text-white);
  color: var(--primery-text-color);
  letter-spacing: 0.03em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo {
  color: #000000;
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.web {
  color: #2196f3;
}
ul {
  list-style: none;
}
/* header */
.site-nav .link {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.link-current {
  color: var(--text-accent-hf);
  text-decoration: none;
}
.contact a {
  color: #757575;
  text-decoration: none;
}
.contact a:focus,
.contact a:hover {
  color: var(--text-accent-hf);
}
/* css studio */
/* section */
.section-title {
  color: var(--text-title);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
/* button */
.section .button {
  color: var(--text-white);
  background-color: var(--text-accent-hf);
}
/* footer */
.footer {
  background-color: var(--color-bcg);
  /* font-size: 14px;
  line-height: 1.71; */
}
.footer .text-logo-footer {
  color: var(--text-white);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.footer .kyiv {
  color: var(--text-white);
}
.footer a {
  color: var(--mail-tel-footer);
  text-decoration: none;
}
.footer a:focus,
.footer a:hover {
  color: var(--text-accent-hf);
}
.footer .footer-address {
  font-size: 14px;
  line-height: 1.71;
}

/* portfolio settings */
.section .button-filter {
  color: var(--text-title);
  background-color: var(--button-filter);
}
.section .button-filter:focus,
.section .button-filter:hover {
  background-color: var(--text-accent-hf);
  color: var(--text-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
}
.section .title-text-works {
  font-size: 16px;
  line-height: 1.87;
}
